@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --cor0:#f4eded;
    --corRosa: rgba(201, 100, 129, 0.705);
    --corAzul: rgba(74, 48, 109, 0.705);
    --corVerde: rgba(142, 208, 129, 0.705);
    --corCinza: rgba(106, 123, 118, 0.705);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--corCinza);
    background-image: url("images/fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

header{
    background-color: var(--corRosa);
    color: var(--cor0);
    padding: 30px 30px 10px 30px;
    width: 100%;
}

header .cabecalho{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header img{
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--corCinza) ;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.301);
}

header h1{
   text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
}

header h1, header h2{
    margin-left: 20px;
}

header ul li{
    display: inline;
}

header nav ul li a{
    text-decoration: none;
    color: var(--cor0);
    padding: 4px;
    border-radius: 4px;
}
header ul li a:hover{
    background-color: var(--cor0);
    color: var(--corRosa);
    text-decoration: none;
    transition-duration: .5s;
}

.corpo{
    max-width: 900px;
    margin: 20px auto;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--corCinza);
}

section #sobre{
    background-color: var(--corVerde);
    color: var(--cor0);
    display: flex;
    align-items: center;
    padding-top: 20px;
}

section #sobre img{
    height:200px;
    margin: 20px;
}

section #sobre p{
    text-align: justify;
    padding: 10px 20px 20px 0px;
    text-indent: 15px;
}

section #formacao{
    background-color: var(--corAzul);
    color: var(--cor0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

section #formacao img{
    border-radius: 15%;
    height: 250px;
}

section #formacao a{
    text-decoration: none;
    color: var(--corRosa);
   
}

section #formacao li{
    padding-top: 10px;
    margin-left: 30px;
}

section #formacao li a{
    padding: 3px;
    border-radius: 2px;
    color: var(--cor0);
}
section #formacao li a:hover{
    background-color:var(--corVerde);
    transition-duration: .5s;
}

section #formacao h4{
    color: var(--corVerde);
}

section #formacao h3{
    padding: 10px;
    color: var(--corRosa);
}

.exercicios{
    margin-top: 10px;
}

section #formacao .curso2{
    padding-top: 20px;
}

section #contato{
    background-color: var(--corRosa);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section #contato li{
    display: inline;
    padding: 10px;
}

section #contato img{
    height: 40px;
    width: fit-content;
}

section #contato a img:hover{
    transform: scale(1.1);
    transition-duration: .5s;
}

footer{
    background-color: var(--cor0);
    text-align: center;
    padding: 5px;
}


@media screen and (max-width: 768px){

    body{
    }

    section #sobre{
        display: block;
        text-align: center;
        padding-left: 20px;
    }
    
    section #formacao{
        display: block;
    }

    section #formacao img {
        display: none;
    };
}