

body {
    background-color: #e6b0ca;
}

.artigos {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    column-gap: 2%;
    row-gap: 5%;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .artigos {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 2%;
        row-gap: 2%;
    }
}


@media screen and (max-width: 640px) {
    .artigos{
        display: block;
    }

    .artigo{
        margin-bottom: 15px;
    }
}